<!--component html goes here -->
<form (ngSubmit)="onSubmit(f)" #f="ngForm" novalidate>
<mat-horizontal-stepper [linear]=true #stepper>
    <mat-step #UUCP="ngModelGroup" ngModelGroup="UUCP" label="step 1"> 
        <h4>Unadjusted Use-Case Points</h4>
        <unadjusted-ucp  modelGroupName="UUCP"></unadjusted-ucp>
        <button mat-raised-button matStepperNext >Next</button>
    </mat-step>
    <mat-step #TF="ngModelGroup" ngModelGroup="TF" label="step 2"> 
        <h4>Adjust For Technical Complexity</h4>
        <technical-complexity modelGroupName="TF"></technical-complexity>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext >Next</button>
    </mat-step>
    <mat-step #EF="ngModelGroup" ngModelGroup="EF" label="step 3"> 
        <h4>Adjust For Environmental Complexity</h4>
        <environmental-complexity modelGroupName="EF"></environmental-complexity>
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button matStepperNext (click)="onClick(f)">Next</button>
    </mat-step>
    <mat-step label="step 4"> 
        
        <h4>Calculate Adjusted Use-Case Points</h4>
        <cal-ucp [UUCP]='UUCPs' [TF]="TFs" [EF]="EFs"[UCP]="UCP"></cal-ucp>
    </mat-step>
</mat-horizontal-stepper>
</form>
