<!--component html goes here -->
<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

        <div class="header main-content">
            <h1>Use Case Point Estimation</h1>
        </div>

        <div class='body'>
            <form (ngSubmit)="onSubmit(f)" #f="ngForm" novalidate>
                <mat-horizontal-stepper [linear]=true #stepper>
                    <mat-step #UUCP="ngModelGroup" ngModelGroup="UUCP" label="step 1">
                        <h4>Unadjusted Use-Case Points</h4>
                        <unadjusted-ucp modelGroupName="UUCP" [InitValue]="InitUUCP"></unadjusted-ucp>
                        <button mat-raised-button matStepperNext>Next</button>
                    </mat-step>
                    <mat-step #TF="ngModelGroup" ngModelGroup="TF" label="step 2">
                        <h4>Adjust For Technical Complexity</h4>
                        <technical-complexity modelGroupName="TF" [InitValue]="InitTF" [status]="status">
                        </technical-complexity>
                        <button mat-raised-button matStepperPrevious>Back</button>
                        <button mat-raised-button matStepperNext>Next</button>
                    </mat-step>
                    <mat-step #EF="ngModelGroup" ngModelGroup="EF" label="step 3">
                        <h4>Adjust For Environmental Complexity</h4>
                        <environmental-complexity modelGroupName="EF" [InitValue]="InitEF" [status]="status">
                        </environmental-complexity>
                        <button mat-raised-button matStepperPrevious>Back</button>
                        <button mat-raised-button matStepperNext (click)="onClick(f)">Next</button>
                    </mat-step>
                    <mat-step label="Result">

                        <h4>Final Result</h4>
                        <cal-ucp [UUCP]='UUCPs' [TF]="TFs" [EF]="EFs" [UCP]="UCP"></cal-ucp>
                        <div *ngIf="state; else savenew">
                            <button mat-raised-button color="accent" (click)="Update()">Estimate Effort</button>
                        </div>
                        <ng-template #savenew>
                            <button mat-raised-button color="accent" (click)="SaveNew() ">Save new result</button>
                        </ng-template>
                    </mat-step>
                </mat-horizontal-stepper>
            </form>
        </div>
    </div>
</div>
