<!--component html goes here -->
<div class="row clearfix" [@routerTransition]>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="align-items: flex-start;">
    <div class="block-header row">
      <div class='col-md-6 text-left'>
        <h3> Project List</h3>
      </div>
      <div class="col-md-6 text-right">
        <button type="button" data-toggle="modal"
          class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right" (click)="createProject()">
          <i class="material-icons">add</i>
        </button>
        <button type="button" class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right"
          (click)="dataTrigger()">
          <i class="material-icons">compare</i>
        </button>
      </div>
      
    </div>
    <div class="row">
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="My Current Projects">
          <div class="col-md-12" *ngFor="let proj of projectList">

            <div class="card">
              <div class="block-header row">
                <div class="col-md-6">
                  <div class="header">
                    <h2 class="project-title">
                      {{proj.title}}
                    </h2>
                    
                  </div>
                </div>
                <div class="col-md-6">
                  <mat-checkbox style="position: absolute;
                    left: 80px;
                    opacity: 100;" *ngIf="compare" (change)="OnCheck(proj.title)"></mat-checkbox>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <div class="body">
                    <!-- <small class="project-description">{{proj.description}}</small> -->
                    <p>Your link:<b> {{proj.linkURL}} </b></p>
                    
                    <!-- <div class="col-md-6 text-center"> -->
                      <!-- <section *ngIf="projectload.data | async as user">
                        <h3>{{projectload.name}}</h3>
                        <p>Height: {{projectload.height}}</p>
                        <p>Mass: {{projectload.mass}}</p>
                        <p>Homeworld: {{projectload.homeworld}}</p>
                      </section> -->
                      <!-- <div *ngIf = "proj.isReady; else CalculatingState">
                        <span>Calculated!</span>
                      </div>
                      <ng-template #CalculatingState>
                        <div *ngIf="isCalculating; else FailState ">
                          <section [ngSwitch]="projectload.status | async">
  
                            <span *ngSwitchCase="Status.LOADING">Calculating...</span>
                            <span *ngSwitchCase="Status.ERROR">Fail to Calculate this</span>
                            <span *ngSwitchCase="Status.SUCCESS">Calculated</span>
                          </section>
                        </div>
                        <ng-template #FailState>
                          <span>Fail to evaluate...</span>
                        </ng-template>
                      </ng-template>
                      
                      
                    </div> -->
                  </div>
                </div>
                <div class="col-md-4 text-center m-r--1">
                  <div><p>Size: {{proj.size}} KB</p></div>        
                  <div><p>Sloc: {{proj.sloc}} lines of code</p></div>       
                </div>
                <div class="col-md-2 text-center m-r--1">

                  <button type="button" class="btn bg-pink waves-effect btn-sm"
                    [routerLink]="['/app/project', proj.id]">
                    <span>Details</span>
                    <i class="fa fa-arrow-circle-right"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </mat-tab>
        <!-- PLAN TAB -->
        <!-- <mat-tab label="My Future Plans">
          <div class="col-md-4" *ngFor="let plan of planList; let i= index">

            <div class="card">
              <mat-accordion>
                <mat-expansion-panel hideToggle (opened)="panelOpenState1[i] = true"
                  (closed)="panelOpenState1[i] = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{plan.title}}
                    </mat-panel-title>
                    <mat-panel-description>
                      <i>{{panelOpenState1[i]? '': plan.description}}</i>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <pre>{{plan.description}}</pre>
                </mat-expansion-panel>
                <mat-expansion-panel (opened)="panelOpenState2[i] = true" (closed)="panelOpenState2[i] = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Plan Cost
                    </mat-panel-title>

                    <div *ngIf="panelOpenState2[i]">
                      <div *ngIf="plan.isEvaluated;else estimatethis">
                        <button mat-raised-button color='primary' style="left:-10px"
                          (click)="EstimateUCP(plan.id, plan.isEvaluated)">Update The Cost</button>
                      </div>
                      <ng-template #estimatethis>
                        <button mat-raised-button color='warn' style="left:-10px"
                          (click)="EstimateUCP(plan.id,plan.isEvaluated,plan.title,plan.description)">Estimate
                          this</button>
                      </ng-template>
                    </div>
                  </mat-expansion-panel-header>
                  <p>UUCP: {{plan.uucPoint}}</p>
                  <p>TF: {{plan.tfPoint}}</p>
                  <p>EF: {{plan.efPoint}}</p>
                  <p>UCP: {{plan.useCasePoint}}</p>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
        </mat-tab> -->

      </mat-tab-group>

    </div>
    <!-- <div style="position: sticky;
  top: 0;">
      <button (click)="Compare2Projects()">Compare!!</button>
    </div> -->
  </div>


</div>
