<!--component html goes here -->
<div class="row">
    <div class="card main-content">
        <div class="header">
            <h2> USC Unified CodeCount (UCC) result </h2>
            <ul class="header-dropdown m-r--5">
                <li>
                    <div class="form-actions">
                        <button type="button" [routerLink]="['/app/project',projectID]"
                            class="btn bg-black waves-effect waves-light"><i class="fa fa-arrow-circle-left"></i> Back
                            to Project Detail</button>
                    </div>
                </li>
            </ul>

        </div>
        <div class="body">
            
            <div *ngFor="let Block of BlockOfResult" style="text-align: center; width: 100%;
            overflow-x: auto;
            white-space: nowrap">
                
                <tr *ngFor="let Line of Block">
                    <td *ngFor="let obj of Line" style="border: 1px solid black; padding: 5px;">{{obj}}</td>
                </tr>
                <br>
            
        </div>
            
        </div>

    </div>
</div>
