<!--component html goes here -->
<h1 mat-dialog-title>Save your result to Estimation </h1>
<div mat-dialog-content>
    <p>Give me some information</p>
    <mat-form-field>
        <mat-label>Choose one</mat-label>
        <mat-select [(ngModel)]="selectedType">

            <mat-option *ngFor="let option of options" [value]="option">
                {{option}}
            </mat-option>

        </mat-select>
    </mat-form-field>
    <div *ngIf='selectedType=="Existed Estimation"'>
        <mat-form-field>
            <mat-label>Choose your estimation</mat-label>
            <mat-select [(ngModel)]="selectedPlan">

                <mat-option *ngFor="let plan of planList" [value]="plan">
                    {{plan.title}}
                </mat-option>

            </mat-select>
        </mat-form-field>
        <div mat-dialog-actions>
            <button mat-raised-button (click)="onNoClick()">No Thanks</button>
            <button mat-raised-button color="warn" cdkFocusInitial (click)="UpdateEstimation()">Create Plan</button>
        </div>
    </div>
    <div *ngIf='selectedType=="New Estimation"'>
        <p>Give me some information</p>
        <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput [(ngModel)]="data.title" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Description</mat-label>
            <textarea matInput [(ngModel)]="data.description"></textarea>
        </mat-form-field>
        <div mat-dialog-actions>
            <button mat-raised-button (click)="onNoClick()">No Thanks</button>
            <button mat-raised-button color="warn" cdkFocusInitial (click)="saveEstimation()">Create Plan</button>
        </div>
    </div>
    <div *ngIf='selectedType==""'>

    </div>
</div>
