<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer>
</script>
<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    About Software Estimation
                </h2>
            </div>
            <div class="body" style='font-size:larger'>
                <h1>Current state of modern world </h1>
                <p> Estimation is building based on the requirements of the technologies shortage field of estimation.
                </p>
                <p>Our core values are building the website for users estimating and collecting data for software
                    evaluation as well as creating storages for user assessment results.
                </p>
                <p>The fact that there are just a few websites that are able to calculate the size and number lines of
                    code in the software project. However, they just have one or few features integrating in the program
                    only. Furthermore, they have such an old interface that users will get bored when they proceed every
                    step to evaluate their software
                    weight and points.
                </p>
                <p> That is the reason why we create this website to integrate a variety of
                    estimation features which can help users have a better scenario of their project quality and
                    quantity. In addition, we provide a website which has a more modern and perspicuous user interface
                    that can improve user experience when using the website as well.</p>
                <br>
                <h1>Our passion</h1>
                <p>Building the application which helps users can estimate the software application easier, such as
                    student,
                    teacher, employee in the company and especially HR of the company.</p>
                <p>From that, they can have some information about the application which they want to estimate including
                    the
                    size and source lines of code, use case point, function point.</p>
                <p> On top of that, users can recognize the number of members working on that project and the amount of
                    time
                    that they spend on.</p>
            </div>
            <div class='container'>
                <div class='quote col-md-6'>
                    <img src="assets/images/hcthanh-avatar.jpg" alt="Chan-Thanh Hong" class="img-responsive img-circle"
                        style="width: 250px;  display: block; margin-left: auto; margin-right: auto;">
                    <h3 style="text-align:center; font-family: sans-serif;">Chan-Thanh Hong</h3>
                </div>
                <div class='quote col-md-6'>
                    <img src="assets/images/phan-avatar.png" alt="Hoang-An Pham" class="img-responsive img-circle"
                        style="width: 250px;   display: block; margin-left: auto; margin-right: auto;">
                    <h3 style="text-align:center; font-family: sans-serif;">Hoang-An Pham</h3>
                </div>
            </div>
        </div>
    </div>
</div>