<!--component html goes here -->

<div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="40px">
    <div class='header row'>
        <div class='col-md-10'>
            <h5>Complexity Adjusted Factor (CAFactor)</h5>
        </div>
        <div class='col-md-2 text-right' style='font-size: 150%; '>
            <span (click)="OpenHelper()" style='cursor: pointer;'><i class="fa fa-question-circle"
                    aria-hidden="true"></i></span>
        </div>
    </div>
    <div *ngFor="let Factor of Factors; let i =index">
        <div [ngModelGroup]="i" #myModel="ngModelGroup">
            <input name='name' [(ngModel)]='Factor.name' type='hidden' readonly>
            <input name='weight' [(ngModel)]='Factor.weight' type='hidden' readonly>

            <div class='card'>
                <div class='header'>
                    <h4>{{Factor.name}}</h4>
                </div>

                <div class='body'>
                    <mat-radio-group class="example-radio-group" required [(ngModel)]='selectedOption[i]'
                        [name]="'select'+i">
                        <mat-radio-button class="example-radio-button" *ngFor="let RV of Factor.rv ;let j = index"
                            [name]="'RV'+((i*6)+j)" [value]="RV.value" style='margin-right: 5%;'>
                            {{RV.name}}
                        </mat-radio-button>
                    </mat-radio-group>
                </div>
                <input name='rv' [(ngModel)]='selectedOption[i]' type='hidden' readonly>
            </div>
        </div>
    </div>
