<!--component html goes here -->
<h1 mat-dialog-title>Implement your old Estimation data </h1>
        <div mat-dialog-content>
            <p>Give me some information</p>
            <mat-form-field class='col-md-6'>
                <mat-label>Title</mat-label>
                <input matInput [(ngModel)]="title" required>
            </mat-form-field >
            <mat-form-field class='col-md-6'>
                <mat-label>Description</mat-label>
                <textarea matInput [(ngModel)]="description"></textarea>
            </mat-form-field>
            

        </div>
        <div mat-dialog-actions>
            <button mat-raised-button (click)="onNoClick()">No Thanks</button>
            <button mat-raised-button color="warn" cdkFocusInitial (click)="save()">Create Project</button>
        </div>