<!--component html goes here -->
<div class="row clearfix" [@routerTransition]>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="align-items: flex-start;">
    <div class="block-header row">
      <div class='col-md-6 text-left'>
        <h3> Historical Estimation Data</h3>
      </div>
      <div class="col-md-6 text-right">
        <button type="button" data-toggle="modal"
          class="btn btn-primary btn-circle waves-effect waves-circle waves-float pull-right"
          (click)="createOldEstimation()">
          <i class="material-icons">add</i>
        </button>
      </div>

    </div>
    <div class="row">

      <div class="col-md-4" *ngFor="let est of histoList;let i = index">
        <div class="card">
          <div class="block-header row">
            <div class="col-md-12">
              <div class="header">
                <div class='col-md-6'>
                  <h2 class="project-title">
                    {{est.title}}
                  </h2>
                </div>
                <div class='col-md-6'>
                  <span class='label bg-red' *ngIf='est.type == "UCP"'>Use case point</span>
                  <span class='label bg-green' *ngIf='est.type == "FP"'>Function point</span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="body">
                <pre *ngIf='!editMode[i]'>{{est.description}}</pre>
                <textarea *ngIf='editMode[i]' class='col-md-12' [(ngModel)]="est.description"></textarea>
                <span class='col-md-6'>Actual Effort: </span><span class='col-md-6 text-right'><b
                    *ngIf='!editMode[i]'>{{est.effort}}
                    person-month</b><span *ngIf='editMode[i]'>
                    <mat-form-field class="example-full-width " style='width:50%; text-align: right;'>
                      <input matInput type='number' [(ngModel)]="est.effort">
                    </mat-form-field>
                  </span></span>
                <span class='col-md-6'>Actual Time: </span><span class='col-md-6 text-right'><b
                    *ngIf='!editMode[i]'>{{est.time}}
                    month(s)</b><span *ngIf='editMode[i]'>
                    <mat-form-field class="example-full-width" style='width:50%; text-align: right;'>
                      <input matInput type='number' [(ngModel)]="est.time">
                    </mat-form-field>
                  </span></span>
                <span class='col-md-6'>Actual Staff: </span><span class='col-md-6 text-right'><b
                    *ngIf='!editMode[i]'>{{est.staff}}
                    staff(s)</b><span *ngIf='editMode[i]'>
                    <mat-form-field class="example-full-width" style='width:50%; text-align: right;'>
                      <input matInput type='number' [(ngModel)]="est.staff">
                    </mat-form-field>
                  </span></span>
                <span class='col-md-6'>Point: </span><span class='col-md-6 text-right'><b
                    *ngIf='!editMode[i]'>{{est.point}}</b><span *ngIf='editMode[i]'>
                    <mat-form-field class="example-full-width" style='width:50%; text-align: right;'>
                      <input matInput type='number' [(ngModel)]="est.point">
                    </mat-form-field>
                  </span> </span>


                <button mat-raised-button color='warn' (click)="DeleteHist(est.id)">Delete</button>
                <button mat-raised-button color='warn' (click)="editMode[i] = true">Edit</button>
                <button mat-raised-button color='warn' (click)="Update()" *ngIf='editMode[i]'>Save</button>
              </div>

            </div>
            <!-- <div class="col-md-2 text-center m-r--1">
  
                    <button type="button" class="btn bg-pink waves-effect btn-sm"
                      [routerLink]="['/app/project', proj.id]">
                      <span>Details</span>
                      <i class="fa fa-arrow-circle-right"></i>
                    </button>
                  </div> -->
          </div>
        </div>
      </div>


    </div>

  </div>


</div>
