<!--component html goes here -->
<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="align-items: flex-start;">
        <div class="block-header row">
            <div class='col-md-8'>
                <h3>Estimation Detail</h3>
            </div>
            <div class='col-md-4 text-right'>
                <button type="button" [routerLink]="['/app/estimation']"
                    class="btn bg-black waves-effect waves-light"><i class="fa fa-arrow-circle-left"></i> Back to
                    estimation list</button>
                <button type="button" [routerLink]="['/app/estimation/',planId,'summary']"
                    class="btn bg-pink waves-effect waves-light"><i class="fa fa-info-circle"></i> Summary report</button>
            </div>

        </div>
        <div class="row">
            <div *ngIf='showedUCP'>
                <div class='card main-content'>
                    <div class='header row'>
                        <div class='col-md-6'>
                            <h2>Use Case Point</h2>
                        </div>
                        <div class='col-md-6 text-right'>
                            <p><b>Creation Time: {{showedUCP.creationTime | date:'short'}}</b></p>
                        </div>
                    </div>
                    <div class='body'>
                        <div class="row">
                            <div class="col-md-12">

                                <section id='header-strip'>
                                    <ul>
                                        <li>
                                            <p>Unadjusted use case point</p>
                                            <p style='font-size: 60px;
                                        font-weight: bold;
                                        line-height: 1em;' class='slide-in-top'>{{showedUCP.uucp}}</p>
                                        </li>
                                        <li>
                                            <p>Technical factors</p>
                                            <p style='font-size: 60px;
                                        font-weight: bold;
                                        line-height: 1em;' class='slide-in-top'>{{showedUCP.tf}}</p>
                                        </li>
                                        <li>
                                            <p>Environmental factors</p>
                                            <p style='font-size: 60px;
                                        font-weight: bold;
                                        line-height: 1em;' class='slide-in-top'>{{showedUCP.ef}}</p>
                                        </li>
                                        <li>
                                            <p>Use Case Point</p>
                                            <p style='font-size: 60px;
                                        font-weight: bold;
                                        line-height: 1em;
                                        color: rgb(255, 25, 25)' class='slide-in-top'>{{showedUCP.ucp}}</p>
                                        </li>
                                        <li>
                                            <p>Effort</p>
                                            <p style='font-size: 60px;
                                        font-weight: bold;
                                        line-height: 1em;
                                        color: green' class='slide-in-top'>{{showedUCP.effort}}</p>
                                        </li>

                                    </ul>
                                </section>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf='showedFP'>
                <div class='card main-content'>
                    <div class='header'>
                        <div class='col-md-6'>
                            <h2>Funtion point</h2>
                        </div>
                        <div class='col-md-6 text-right'>
                            <p><b>Creation Time: {{showedFP.creationTime | date:'short'}}</b></p>
                        </div>
                    </div>
                    <div class='body'>
                        <div class="row">
                            <div class="col-md-12">
                                <section id='header-strip'>
                                    <ul>
                                        <li>
                                            <p>Unadjusted function point</p>
                                            <p style='font-size: 60px;
                                        font-weight: bold;
                                        line-height: 1em;
                                        ' class='slide-in-top'>{{showedFP.ufp}}</p>
                                        </li>
                                        <li>
                                            <p>Complexity adjusted factors</p>
                                            <p style='font-size: 60px;
                                        font-weight: bold;
                                        line-height: 1em;
                                        ' class='slide-in-top'>{{showedFP.caf}}</p>
                                        </li>
                                        <li>
                                            <p>Function point</p>
                                            <p style='font-size: 60px;
                                        font-weight: bold;
                                        line-height: 1em;
                                        color: rgb(255, 25, 25);' class='slide-in-top'>{{showedFP.fp}}</p>
                                        </li>
                                        <li>
                                            <p>Effort</p>
                                            <p style='font-size: 60px;
                                        font-weight: bold;
                                        line-height: 1em;
                                        color: green;' class='slide-in-top'>{{showedFP.effort}}</p>
                                        </li>
                                    </ul>

                                </section>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf='showedCCM'>
                <div class='card main-content'>
                    <div class='header row'>

                        <div class='col-md-6'>
                            <h2>Schedule and Effort (Cocomo point)</h2>
                        </div>
                        <div class='col-md-6 text-right'>
                            <p><b>Creation Time: {{showedCCM.creationTime | date:'short'}}</b></p>
                        </div>
                    </div>
                    <div class='body'>
                        <div class="row">
                            <div class="col-md-12">
                                <section id='header-strip'>
                                    <ul>
                                        <li>
                                            <p>Sloc</p>
                                            <p style='font-size: 60px;
                                        font-weight: bold;
                                        line-height: 1em;' class='slide-in-top'>{{showedCCM.sloc}}</p>
                                        </li>
                                        <li>
                                            <p>Mode</p>
                                            <p style='font-size: 60px;
                                        font-weight: bold;
                                        line-height: 1em;' class='slide-in-top'>{{mode}}</p>
                                        </li>
                                        <li>
                                            <p>Model</p>
                                            <p style='font-size: 60px;
                                        font-weight: bold;' class='slide-in-top'>{{model}}</p>
                                        </li>
                                        <li>
                                            <p>effort</p>
                                            <p style='font-size: 60px;
                                        font-weight: bold;
                                        line-height: 1em;
                                        color: green;' class='slide-in-top'>{{showedCCM.effort}}</p>
                                        </li>
                                    </ul>

                                </section>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
